@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,900);

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    /* define a fonte padrão */
}

iframe {
    display: block;
}

/*            NAVBAR            */
.bg-body-tertiary {
    background-color: black !important;
}

.nav-link {
    color: white;
    border-bottom: 3px solid black;
    transition: border-bottom 0.2s;
}

.nav-link:hover {
    color: white !important;
    border-bottom: 3px solid #eb650b;
    transition: border-bottom 0.2s;
}

.navbar-expand-md .navbar-collapse {
    justify-content: center;
    margin-left: 2rem;
}

.nav-link {

    margin-left: 4rem;
}

/*            LOGO               */

/*            CARROSEL           */
.carousel-item img {

    height: 33rem;
    /* mantém a altura do carrossel */
    object-fit: cover !important;
    /* preenche mas pode cortar */
    object-position: 70% 30%;
    /* mostra mais o topo */
    border-top: 2px solid #eb650b62;
}

/*           SECTION           */
.espacamento {

    padding: 10em 0em;
}

.section-localidade {

    background-color: black;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    padding: 0 0 !important;
    max-height: fit-content;
    gap: 0;
}

.col img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top: 3px solid #eb650b;
}



@media screen and (min-width: 320px) {
    .carousel-item img {

        height: 33rem;
        /* mantém a altura do carrossel */
        object-fit: cover !important;
        /* preenche mas pode cortar */
        object-position: 55% 30%;
        /* mostra mais o topo */
        border-top: 2px solid #eb650b62;
    }

}

@media screen and (min-width: 1024px) {

    .row {
        display: flex;
        flex-direction: row;
    }

    .col {
        padding: 0 0 !important;
        max-height: fit-content;
    }

    .col img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-top: none;
        border-left: 3px solid #eb650b;
    }
}