@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    overflow-x: hidden;
}

.logo {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.navback {
    background-color: #000000; 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-width: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
}

.navback .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navback .navbar-nav .nav-link:hover {
    color: #F56E1D !important;
}

.navback .navbar-brand,
.navback .btn {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 0.3rem; 
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    border-radius: 1.6rem !important;
    cursor: pointer;
    width: 7.7rem;
    height: 2.6rem; 
    background-color: #F56E1D !important; 
    color: #fff;
    font-family: Montserrat;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: 700;
    text-align: center;
    padding: 0;
    line-height: normal;
}

.btn:hover {
    box-shadow: 0px 0px 3px 3px #F56E1D; 
    background-color: #F56E1D; 
    color: #fff;
    text-decoration: none;
}

.girocrew {
    width: 100%;
    min-height: 44rem;
    color: #fff;
    text-shadow: 1px 1px 8px #000;
    margin: 0;
    position: relative;
    font-family: Montserrat;
    overflow: hidden;
    --scroll-blur: 0px;
}

.girocrew::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/girocrew.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    filter: blur(var(--scroll-blur));
}


.girocrew h2 {
    font-size: clamp(1.8rem, 3vw, 2rem);
    margin: 0 0 1rem 0; 
}

.girocrew span {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.girocrew-text-container {
    position: absolute;
    top: 28%;
    right: 4vw;
    transform: translateY(-50%);
    width: fit-content;
}

.girocrew-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.girocrew-text span {
  text-align: center;
}

.girocrew-text button {
    font-size: clamp(1.1rem, 2.8vw, 1.4rem);
    font-weight: 400;
    width: 11.6rem;
    height: 3rem;
    margin-top: 1.2rem;
}

.flashcards {
    font-family: Montserrat;
    color: #282726;
}

.flashcards h2 {
    font-size: clamp(1.4rem, 4vw, 1.8rem);
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;
    text-shadow: 1px 1px 8px #dadada;
}

.flashcards span {
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
    font-weight: 400;
    text-align: center;
    margin-top: 1.4rem; 
    display: block;
    text-shadow:1px 1px 8px #dadada;
}

.blocklist {
    text-align: center;
    display: flex;
    gap: 5rem; 
    list-style: none;
    padding: 0;
    justify-content: center; 
    align-items: center;
    margin-top: 4rem;
}

.blocklist li {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 1rem 1.5rem;
    width: 22rem;
    height: 20rem;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    justify-content: center;
}

.thecard {
    justify-content: center;
}

.flashtitle {
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    margin-top: 1rem;
    font-weight: 580;
}

.flashinfo {
    font-size: clamp(0.9rem, 2.2vw, 1.1rem);
    text-align: center; 
    margin-top: 0.6rem;
    width: 100%;        
}

.revbg { position: relative;
  z-index: 2;
}

.rev {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: flex-start;
    width: 100%;
    text-align: center;
}

.pfp {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1.5rem;
}

.reviews { 
    display: flex;
    gap: 3rem; 
    justify-content: center;
    margin-top: 5rem;
    font-family: Montserrat;
    align-items: center;
    padding: 0;
    color: #282726
}

.revblock {
    background: #fff;
    padding: 16px 24px;
    border-radius: 40px;
    width: 25rem;
    height: 11rem;
    text-align: center;
    list-style: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.stars {
    width: 9rem;
    height: auto;
    margin-top: 0.5rem;
    margin-left: 7rem;
}

.name {
    font-size: clamp(1.1rem, 2.5vw, 1.4rem);
    font-weight: 590;
    margin-top: 1rem;
}

.moreinfo {
    display: flex;
    font-family: Montserrat;
    gap: 4rem;
    justify-content: space-around; 
    align-items: flex-start;
    background-color: #EAEAEA;
    position: relative; 
    z-index: 1; 
    margin-top: -6.9rem; 
    padding: 14rem 2rem 4rem 2rem; 
}

.links {
    display:flex;
    list-style: none;
    gap: 1.2rem;
    font-size: clamp(0.9rem, 2.2vw, 1.2rem);
    color: #4E4E4E;
}

iframe {
    width: 22rem;
    height: 22rem;
    margin-right: 1.3rem;
}

.moreinfo h3 {
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
}

.smedia {
    list-style: none;
}

.mrc {
    margin-bottom: 3rem;
    margin-right: 2.5rem;
}

.locmore {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.tswift {
    margin-left: 1rem;
    font-size: clamp(0.9rem, 2.2vw, 1.2rem);
}

#toknow {
    margin-bottom: 4.4rem;
}

.mlink:hover {  
    color: #F56E1D;
}

.loc {
    border-radius: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    height: 32rem;
    width: 44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loc h3 {
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    margin-bottom: 2rem;
    width: 100%; 
    padding-bottom: 1.5rem;
    border-bottom: 0.12rem solid #dad7d7;
}

.redes h3 {
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    margin-bottom: 2rem;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 0.12rem solid #dad7d7;
}

.redes {
    border-radius: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    height: 32rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .blocklist,
    .reviews,
    .moreinfo {
        display: column;
        flex-direction: column;
        align-items: center;
        gap: 3rem; 
    }

.girocrew-text {
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: 5rem;
    margin-left: 5rem;
}

    .reviews,
    .moreinfo {
    padding-top: 8rem;
    margin-top: -6.9rem;
    }

    .blocklist li,
    .revblock,
    .loc,
    .redes {
        width: 90%;   
        max-width: 56rem; 
        height: auto; 
    }

    .locmore {
        flex-direction: column; 
        gap: 2rem;
    }

    iframe {
        width: 100%; 
        height: 20rem;
    }

    .tswift {
        margin-left: 0; 
    }
}

/* @media (max-width: 1400px) {
    .blocklist,
    .reviews,
    .moreinfo {
        flex-direction: row;
        align-items: center;
        gap: 3rem; 
    }

    .reviews,
    .moreinfo {
    padding-top: 8rem;
    margin-top: -6.9rem;
    }

    .blocklist li,
    .revblock,
    .loc,
    .redes {
        width: 90%;   
        max-width: 56rem; 
        height: auto; 
    }

    .locmore {
        flex-direction: column; 
        gap: 2rem;
    }

    iframe {
        width: 100%; 
        height: 20rem;
    }

    .tswift {
        margin-left: 0; 
    }
}