<li>
    <div class="gd-submenu mb-2">
        <button class="btn-toggle sidebar-option" data-bs-toggle="collapse" data-bs-target="#collapseCadastro" 
                aria-expanded="{% if active_menu == 'cadastro' %}true{% else %}false{% endif %}">
            <i class="bi bi-person-plus"></i>
            <span>Cadastro</span>
            <i class="bi bi-chevron-down ms-auto"></i>
        </button>
        
        <div class="collapse {% if active_menu == 'cadastro' %}show{% endif %}" id="collapseCadastro" data-bs-parent="#sidebarAccordion">
            
            <a href="{% url 'cadastro_aluno' %}" class="nav-link sidebar-option {% if active_page == 'aluno' %}active{% endif %}">
                <i class="bi bi-person"></i>
                <span>Cadastro Aluno</span>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'cadastro_professor' %}" class="nav-link sidebar-option {% if active_page == 'professor' %}active{% endif %}">
                    <i class="bi bi-person-badge"></i>
                    <span>Cadastro Professor</span>
                </a>

                <a href="{% url 'cadastro_atividades' %}" class="nav-link sidebar-option {% if active_page == 'atividades' %}active{% endif %}">
                    <i class="bi bi-list-task"></i>
                    <span>Cadastro Atividades</span>
                </a> 
            {% endif %}
        </div>
    </div>
</li>