<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'login/static/style.css' %}">
</head>
<body>
    <div class="container">
    <div>
        <img src="{% static 'login/foto/imagemFuno.jpg' %}" alt="" class="imagemFundo">
    </div>
    <!--Formulario básico-->
    <div class="quadradoMagico">
    <!--Imagem de fundo de login-->
    
    <img src="logo.jpg" alt="" class="logo">
   
    
    <form action="/login/" method="POST">
    {% csrf_token %}
    <div class="email">
    <label for="email" class="">LOGIN:</label>
    <input type="email" id="username" name="username" class="fundoEntrar">
    </div>
    <div class="linha">

    </div>

    <div class="senha">
    <label for="senha" class="textoSenha">SENHA:</label>
    <input type="password" id="password" name="password" class="fundoSenha">
    <div class="linha">

    </div>

    </div class="entrar">
    

    <button type="submit" name="acao" value="login" class="butaoEntrar" >Entrar</button>
    <button type="submit" name="acao" value="cadastro" class="butaoEntrar" >Cadastrar</button>

          {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
    </form>
    <p>Novo aqui?<a href="#" class="cadastrar">Cadastre-se</a></p>

    <div>
        <a href="#" class="esqueceuSenha">Esqueceu a senha?</a>
    </div>
</div>
    </div>
    </div>
        
</body>
</html>
